---
import Layout from '../../layouts/Layout.astro';
import DashboardLayout from '../../layouts/DashboardLayoutMobile.astro';
import Header from '../../components/HeaderMobile.astro';
import Icons from '../../components/Icons.astro';



---

<Layout title="Dashboard">
    <Header />
    <DashboardLayout title="Profile" currentPage="profile">
        <div slot="right">
            <form action="/mobile/profile_edit/" class="mt-4 px-4">
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sk-500 focus:border-sk-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" value="andi@julianto.com" disabled />
                </div>
                <div class="mb-6">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama Lengkap</label>
                    <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sk-500 focus:border-sk-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" value="Andi Julianto" disabled />
                </div>
                <div class="mb-6">
                    <label for="telp" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No. Telp</label>
                    <input type="text" id="telp" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sk-500 focus:border-sk-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" value="08129389111" disabled />
                </div>
                <div class="mb-6">
                    <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipe Akun</label>
                    <div class="flex gap-6">
                        <div class="w-full flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input checked disabled id="bordered-radio-1" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-sk-600 bg-gray-100 border-gray-300 focus:ring-sk-500 dark:focus:ring-sk-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" onclick="toggleInput(false)" >
                            <label for="bordered-radio-1" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Personal</label>
                        </div>
                        <div class="w-full flex items-center ps-4 border border-gray-200 rounded dark:border-gray-700">
                            <input disabled ="bordered-radio-2" type="radio" value="" name="bordered-radio" class="w-4 h-4 text-sk-600 bg-gray-100 border-gray-300 focus:ring-sk-500 dark:focus:ring-sk-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" onclick="toggleInput(true)">
                            <label for="bordered-radio-2" class="w-full py-4 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Perusahaan</label>
                        </div>
                    </div>
                </div>
                <!-- Input Field -->
                <div class="hidden" id="showHideField">
                    <div class="mb-6">
                        <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nama Perusahaan</label>
                        <input type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-sk-500 focus:border-sk-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Isi nama perusahaan" />
                    </div>
                </div>
                <div class="mb-6">
                    <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Alamat Lengkap</label>
                    <textarea id="address" rows="4" class="block resize-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-sk-500 focus:border-sk-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-sk-500 dark:focus:border-sk-500" disabled></textarea>
                </div>
                <div class="border-t border-gray-200 py-6">
                    <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center flex items-center justify-center text-white bg-sk-700 rounded-lg hover:bg-sk-800 focus:ring-4 focus:outline-none focus:ring-sk-300 dark:bg-sk-600 dark:hover:bg-sk-700 dark:focus:ring-sk-800">
                        <Icons name="edit-user" IconStyle="w-4 h-4 fill-white mr-2" Box="0 0 24 24"/>
                        Ubah Profile
                    </button>
                </div>
            </form>
        </div>
    </DashboardLayout>
</Layout>
