---
import Icons from '../components/Icons.astro';
import Title from '../components/Title.astro';

---

<footer>
    <div class="border-b border-gray-200 pb-6">
        <Title title="Newsletter" />
        <p class="text-base text-gray-500 mb-4">Jangan lewatkan artikel menarik</p>

        <form class="max-w-md mx-auto">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <Icons name="email" Box="0 0 18 19" IconStyle="w-5 h-5 text-grey-500">
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your Email" required />
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-sk-700 hover:bg-sk-800 focus:ring-4 focus:outline-none focus:ring-sk-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-sk-600 dark:hover:bg-sk-700 dark:focus:ring-sk-800">Submit</button>
            </div>
        </form>
    </div>
    <div class="border-b border-gray-200 py-6">
        <div class="text-base text-gray-600 mb-4">© 2024 by SUARAKONSUMEN</div>
        <div class="flex gap-2">
            <a href="#" class="bg-socmed-fb hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="fb" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
            <a href="#" class="bg-socmed-x hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="x" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
            <a href="#" class="bg-socmed-youtube hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="youtube" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
            <a href="#" class="bg-socmed-linkedin hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="linkedin" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
            <a href="#" class="bg-socmed-ig hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="ig" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
        </div>
    </div>
    <div class="py-2">
        <ul>
            <li class="pb-2"><a href="#" class="text-gray-400 hover:text-sk-900 font-normal text-sm">Tentang Kami</a></li>
            <li class="pb-2"><a href="#" class="text-gray-400 hover:text-sk-900 font-normal text-sm">Pedoman Media Siber</a></li>
            <li class="pb-2"><a href="#" class="text-gray-400 hover:text-sk-900 font-normal text-sm">Privacy Policy</a></li>
            <li class="pb-2"><a href="#" class="text-gray-400 hover:text-sk-900 font-normal text-sm">Terms and Condition</a></li>
        </ul>
    </div>

</footer>