
---
import Icons from './Icons.astro';
import Popup from './Popup.astro';

---
<nav class="bg-white border-gray-200 dark:bg-gray-900 sticky top-0 z-[40] border-b border-gray-100">
    <div class="flex flex-wrap justify-between items-center mx-auto w-container py-4 px-4">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/asset/images/logo.png" class="h-12" alt="Suara Konsumen Logo" />
        </a>
        <div class="flex w-4/12 items-center">
            <form class="w-full mx-auto">
                <div class="flex">
                    <label for="search-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Your Email</label>
                    <div class="relative w-full">
                        <input type="search" id="search-dropdown" class="block p-2.5 focus:ring-sk-300 focus:border-gray-300 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg border-s-gray-300 border-s-1 border border-gray-300 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="Search..." required />
                        <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-gray-100 border-s-gray-50 rounded-e-lg border border-gray-300 hover:bg-sk-800 focus:ring-4 focus:outline-none focus:ring-sk-200 dark:bg-sk-600 dark:hover:bg-sk-700 dark:focus:ring-sk-200">
                            <Icons name="search" IconStyle="w-4 h-4 fill-grey-600" Box="0 0 20 20"/>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="flex items-center space-x-6 rtl:space-x-reverse" id="login-container"></div>
        <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                <div>Hi, Andi Julianto</div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile</a>
                    </li>
                    <li>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Pengaturan</a>
                    </li>
                </ul>
                <div class="py-2">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" id="clear-storage">Log out</a>
            </div>
        </div>
    </div>
</nav>
<nav class="bg-gray-50 dark:bg-gray-700 mt-[-1px]">
    <div class="w-container py-3 px-4 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
                <li>
                    <a href="/" class="text-sk-900 dark:text-white hover:text-sk-900" aria-current="page">Beranda</a>
                </li>
                <li>
                    <a href="/category/" class="text-gray-900 dark:text-white hover:text-sk-900">Suara Konsumen</a>
                </li>
                <li>
                    <a href="/category/" class="text-gray-900 dark:text-white hover:text-sk-900">Tanggapan</a>
                </li>
                <li>
                    <a href="/category-press/" class="text-gray-900 dark:text-white hover:text-sk-900">Press Release</a>
                </li>
                <li>
                    <a href="/category/" class="text-gray-900 dark:text-white hover:text-sk-900">Berita</a>
                </li>
                <li>
                    <a href="/category/" class="text-gray-900 dark:text-white hover:text-sk-900">Review</a>
                </li>   
                <li>
                    <a href="/category/" class="text-gray-900 dark:text-white hover:text-sk-900">Tips</a>
                </li> 
            </ul>
        </div>
    </div>
</nav>

<Popup page="login-popup" form="login" title="Login" size="max-w-lg" />

<script is:inline src="/scripts/loginSimulation.js"></script>
  

