---
import Icons from './Icons.astro';

---
<div class="border-b border-gray-200 py-6 text-center mb-4">
    <div class="text-base text-black mb-4 font-semibold">Bagikan</div>
    <div class="flex gap-2 justify-center">
        <a href="#" class="bg-socmed-fb hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="fb" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
        <a href="#" class="bg-socmed-x hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="x" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
        <a href="#" class="bg-green-400 hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="wa" Box="0 0 16 15" IconStyle="w-5 h-5 fill-white"></a>
        <a href="#" class="bg-socmed-linkedin hover:bg-sk-900 flex items-center justify-center w-8 h-8 rounded-full"><Icons name="linkedin" Box="0 0 20 20" IconStyle="w-5 h-5 fill-white"></a>
    </div>
</div>

    
