

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" data-tabs-active-classes="text-sk-900 hover:text-sk-900 dark:text-sk-500 dark:hover:text-sk-500 border-sk-600 dark:border-sk-500" data-tabs-inactive-classes="dark:border-transparent text-gray-500 hover:text-gray-600 dark:text-gray-400 border-gray-100 hover:border-gray-300 dark:border-gray-700 dark:hover:text-gray-300" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block px-4 pb-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#brand" type="button" role="tab" aria-controls="brand" aria-selected="false">Brand</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block px-4 pb-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#produk" type="button" role="tab" aria-controls="produk" aria-selected="false">Produk</button>
        </li>
    </ul>
</div>
<div id="default-tab-content" class="mb-6">
    <div class="hidden" id="brand" role="tabpanel" aria-labelledby="profile-tab">
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">1</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">PT XL Indonesia</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">140</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">2</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">PT Telekomunikasi Indonesia</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">128</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">3</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Bank Syariah Indonesia</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">116</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">4</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Bank Tabungan Negara</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">15</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">5</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Bank DBS</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">12</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
    </div>
    <div class="hidden" id="produk" role="tabpanel" aria-labelledby="dashboard-tab">
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">1</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Samsung Z Flip 5</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">140</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">2</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Iphone 13</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">128</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">3</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">CC Platinum Bank Syariah</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">116</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">4</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Kartu Axis</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">15</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
        <div class="flex items-center gap-4 border-b border-gray-200 pb-4 mb-4">
            <div class="w-1/12 text-sk-900 bg-sk-100 rounded-full text-center">5</div>
            <h3 class="w-8/12 text-sm font-semibold text-black">Indihome</h3>
            <div class="w-3/12 text-sm text-right"><span class="text-sm font-bold text-black mr-2">12</span><span class="text-xs font-normal text-gray-400">Suara</span></div>
        </div>
    </div>
</div>
